body::-webkit-scrollbar {
  width: .4em;
}
 
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, rgba(0,0,0,1));
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(85, 84, 84);
  outline: 1px solid slategrey;
  border-radius: 15px;
  margin: 2px;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carouselButton{
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255,255,255,.5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0,0,0,.1);
}

.carouselButton:hover,
.carouselButton:focus{
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carouselButton:focus{
  outline: 1px solid black;
}

.carouselButton.prev{
  left: 1rem;
}

.carouselButton.next{
  right: 1rem;
}

.card {
  width: 400px;
  height: auto;
  background: #f5f5f5;
  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid rgba(78, 101, 255, 1);
  margin: 10px;
 }

 .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .7s ease, opacity .7s ease;
 }
 
 /*Image*/
 .card-avatar {
  --size: 150px;
  border-radius: 50%;
  transition: transform .7s ease;
  margin-bottom: 1rem;
 }
 .card img{
  height: 150px;
  width: auto;
  border-radius: 50%;
 }
 
 /*Card footer*/
 .card-social {
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition: transform .7s ease, opacity .7s ease;
  padding-left: 0;
 }
 
 .card-social__item {
  list-style: none;
 }
 
 .card-social__item svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #515F65;
  cursor: pointer;
  transition: fill 0.7s ease ,transform 0.7s ease;
 }
 
 /*Text*/
 .card-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
 }
 
 .card-subtitle {
  color: #859ba8;
  font-size: 1.2em;
 }
 
 /*Hover*/
 .card:hover {
  box-shadow: 0 8px 50px #23232333;
 }
 
 .card:hover .card-social {
  margin: auto;
  opacity: 1;
  padding: 0;
 }
 
 .card-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
 }
 
 .card-avatar:hover {
  transform: scale(1.1);
 }

.card_article{
  box-sizing: border-box;
  width: 275px;
  height: auto;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid rgba(78, 101, 255, 1);
  box-shadow: 2px 7px 14px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: black;
  margin: 10px;
  padding: 25px;
}

.card_article:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card_article:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.google-map iframe {
  border-radius: 1rem;
  border: 1px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add a shadow for better visibility */
  width: 400px; /* Ensure the iframe fits within the parent */
  height: 300px; /* Set a fixed height */
}

.form-container {
  max-width: 700px;
  margin: 30px;
  background-color: rgba(217, 217, 217, 0.58);
  padding: 30px;
  border-left: 5px solid rgba(78, 101, 255, 1);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
  display: block;
  color: black;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-container .form .input {
  color: #87a4b6;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.58);
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solid rgba(78, 101, 255, 1);
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: rgba(78, 101, 255, 1);
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid rgba(78, 101, 255, 1);
}

.form-container .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: rgba(78, 101, 255, 1);
  padding: 10px;
  color: #000000;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid rgba(78, 101, 255, 1);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.form-container .form .button-container .reset-button-container {
  flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background: #81959e;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
  background: transparent;
  color: black;
  cursor: pointer;
}

.hamburger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.hamburger input {
  display: none;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.hamburger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.hamburger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.hamburger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.hamburger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.hamburger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.hamburger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

 /* The Overlay (background) */
 .overlay { 
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  backdrop-filter: blur(30px);
  overflow-x: hidden; 
  transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 35%;
  width: 100%;
  text-align: center; 
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  text-shadow: 0 0 10px rgba(78, 101, 255, 1); 
  color: black;
  display: block; 
  transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {
  color: rgba(78, 101, 255, 1);
}

@media only screen and (width < 640px) {
  .hamburger{
    display: block;
    margin-left: 20px;
  }

  .card{
    box-shadow: 0 8px 50px #23232333;
    margin: 10px 5px;
    width: 90vw;
    
   }

   .card-title{
    font-size: 1.1em;
   }
   
   .card .card-info {
    transform: translateY(-5%);
   }
   
   .card .card-social {
    margin: auto;
    opacity: 1;
    padding: 0;
   }
   
   .card-social__item svg {
    fill: #232323;
    transform: scale(1.1);
   }
   
   .card-avatar {
    transform: scale(1.1);
   }

   .card_article{
    width: 25vw;
    height: calc(1.5*25vw);
    width: 90vw;
   }

   .card_article p{
    display: none;
   }
   .google-map iframe {
    width: 90vw;
  }
  .form-container{
    margin: 0;
  }

  #container2 .content{
    padding: 15px;
  }
}