#container1{
  height: 90vh; 
  background: radial-gradient(circle, rgba(78, 101, 255, 1) 0%, rgba(30, 174, 152, 1) 100%);
}

nav{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 9999; 
  backdrop-filter: blur(10px);
}
.logo{
  display: flex;
  align-items: center;
  padding: 20px;
}
.logo img{
  height: 50px;
}
.logo .logoname{
  padding-left: 20px;
}
.logo h3{
  margin: 3px;
}
.navItems{
  display: flex;
  align-items: center;
  padding: 20px;
}
.navItems ul{
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 20px;
  list-style: none;
}
.navItems li{
  transition: 0.3s ease-in;
}
.navItems li:hover{
  transform: scale(1.08);
  cursor: pointer;
}
.navItems a:link,
.logo a:link{
  text-decoration: none;
  color: black; 
}
.middleContainer {
  padding: 50px;
  padding-top: 20vh;
  box-sizing: border-box; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carouselContainer {
  width: 960px;
  height: 540px;
  position: relative;
  
}

.carouselContainer > ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: auto;
  padding: 50px;
}

#container2 img{
  height: 100px;
  width: auto;
  margin: 50px;
}

#container2 .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container3{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: space-around;
}

#container3 .cardBox{
  display: flex;
  justify-content: space-between;
  width: 80vw;
}


